<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
            <link rel="icon" href="/img/weather.png">

          <link rel="stylesheet" href="/css/styles.css">
    </head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Writa a city name and press search to show The weather of this city!</p>

    </div>

{{>footer}}
</body>
</html>